         <header>
            <div id="first">
                <div class="size center">
                    <div class="t-menu-l left">
                        Language: <span>English</span>
                    </div>
                    <div  class="t-menu-l left">
                        Currency: <span>$ Dollar</span>
                    </div>
                    <div  class="logo"></div>
                    <div  class="t-menu-r right cart-ico">
                        <span id="cart-count">
                            1
                        </span>
                    </div>
                    <div  class="t-menu-r right">
                        Login/Register
                    </div>
                    <div  class="t-menu-r right">
                        My Account
                    </div>
                </div>
            </div>
            <div id="second">
                <div class="size center">
                    <div class="left center p50">
                        <ul class="center iblock">
                            <li class="t-menu-l">
                                Home
                            </li>
                            <li  class="t-menu-l">
                                Menu
                            </li>
                            <li  class="t-menu-l">
                                Services
                            </li>
                        </ul>
                    </div>

                    <div  class="right center p50">
                        <ul class="center iblock">
                            <li  class="t-menu-r">
                                Contact
                            </li>
                            <li  class="t-menu-r">
                                Abous us
                            </li>
                            <li  class="t-menu-r">
                                Blog
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </header>